@import './tailwind.css';

main {
	background-color: white;
	min-width: 100vh;
	min-height: 100vh;
}

.title {
	text-align: center;
	font-size: 50px;
	color: white;
}

.main-search {
	align-content: center;
	flex: content;
	align-self: center;
	align-items: center;
	align-content: center;
}

.main-search-text {
	font-size: 20px;
	text-align: center;
	width: 200px;
	height: 50px;
	border-radius: 43px;
	color: black;
	align-content: center;
	align-items: center;
}

.course-name {
	font-size: 20px;
}

.gambar2 {
	width: 735px;
	height: 642px;
	background-color: red;
}

.gambar3 {
	width: 515px;
	height: 244px;
	background-color: red;
}

.spaced-text br {
	display: block;
	margin-bottom: 7px;
	content: '';
}
